.breadcrumb {
  height: 64px;
line-height: 64px;
padding: 0 24px;
margin-bottom: -24px;
}

.main-content {


  margin: 24px;
}

.inner-content
{
  background: #fff;
  padding: 24px;
  box-shadow: 4px 4px 20px 0 rgba(0,0,0,.01);
  min-height: calc(100vh - 184px);

}

.mb20{

  margin-bottom: 20px;
}
